html, body {
height: 100%;
margin: 0;
padding: 0;

}
#map {
    height: 100%;
}
#authorize-div{
    text-align:center;
}
#authorize-button{
    
}

#authorize-button:hover{
    background-color: lightgray;
    color: black;
}
#infocontent{
    overflow-y:scroll;
    height:300px;
}